
.vs/Proyecto-2-vital-salud/v16/.suo
.vs/Proyecto-2-vital-salud/v16/.suo
*.db
.vs/Proyecto-2-vital-salud/v16/ipch/AutoPCH/decc0eb40f6d61d9/LISTAPERSONA.ipch
.vs/Proyecto-2-vital-salud/v16/Browse.VC.db
.vs/Proyecto-2-vital-salud/v16/.suo
.vs/Proyecto-2-vital-salud/v16/Browse.VC.db
